html {
  height: 100%
}
body {
  background: #000;
  color: #fff;
  font-size: 100%;
}
h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 4em;
  line-height: 1.4em;
}
h2 {
  font-family: 'Poiret One', cursive;
  font-size: 2.8em;
  line-height: 1.2em;
}
